<div class="header-ft">
    <div class="header-sc">
        <div class="header-ht">
            <div class="header-nav">
                <section class="container-header">
                    <div class="row">
                        <div class="col-xs-5 header-left">

                            <div class="first-cate-ctn">

                                <a title="Mujer" class=" j-nav-first-cate j-nav-first-cate-0 first-cate  cate-active"
                                    href="index0161.html?&amp;ici=mx_tab01" style="width: 25% " data-index="0"
                                    data-name="Mujer" data-type="2" data-channel_type="2">
                                    Mujer
                                </a>

                                <a title="Curve+Grande" class=" j-nav-first-cate j-nav-first-cate-1 first-cate "
                                    href="plussize2855.html?icn=PlusSizePage&amp;ici=mx_tab02" style="width: 25% "
                                    data-index="1" data-name="Curve+Grande" data-type="6" data-channel_type="6">
                                    Curve+Grande
                                </a>

                                <a title="Hombre" class=" j-nav-first-cate j-nav-first-cate-2 first-cate "
                                    href="men53a1.html?icn=MenHomePage&amp;ici=mx_tab03" style="width: 25% "
                                    data-index="2" data-name="Hombre" data-type="3" data-channel_type="3">
                                    Hombre
                                </a>

                                <a title="Niños" class=" j-nav-first-cate j-nav-first-cate-3 first-cate "
                                    href="kids1b15.html?icn=KidsHomePage&amp;ici=mx_tab04" style="width: 25% "
                                    data-index="3" data-name="Niños" data-type="4" data-channel_type="4">
                                    Niños
                                </a>
                            </div>



                        </div>

                        <div class="col-xs-2 she-text-center header-logo ">

                            <!-- 节日logo, 不要删 -->

                            <a href="index.html" class="iconfont-critical icon-sheinlogo"></a>


                        </div>

                        <i class="iconfont icon-check"></i>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>